{% extends 'usercv/base.html' %}

{% block title %}cv-builder{% endblock %}

{% block content %}
<div class="container" style="padding-top: 7%;">
    <div class="row pt-5">
    <div class="col-sm-4">
    <div class="card card-body">
        <i class="text-center fas fa-book-open fa-2x"></i>
        <hr>
        <p class="text-center">This Applications lets you create your resume and store them.</p>
    </div>
    </div>

    <div class="col-sm-4">
    <div class="card card-body">
        <i class="text-center fas fa-users fa-2x"></i>
        <hr>
        <p class="text-center">The Application lets you choose a layout for your CV.</p>
    </div>
    </div>

    <div class="col-sm-4">
    <div class="card card-body">
        <i class="text-center fas fa-download fa-2x"></i>
        <hr>
        <p class="text-center">The Application enables you to download the created CV as a pdf.</p>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
