{% extends 'usercv/base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-3">
    <div class="content-section">
        <h4 class="text-info">Profile</h4><hr>
    <div class="media">
    <img class="rounded-circle account-img" src="{{ prof.image.url }}" alt="">
  </div>
        <p>{{ user.email }}</p>
        <p>{{ prof.website }}</p>

        <p><a class="btn btn-secondary btn-sn mt-1" href="{% url 'usercv:profile-update'  user.id%}">Update</a></p>
  </div>
</div>

<div class="col-sm-9">
    <div class="content-section">
        <h3 class="text-info">My Resume</h3>
        <hr>

    </div>
</div>


</div>
{% endblock %}